name: MLflow Training Workflow

# Trigger: Jalan setiap kali ada push ke repository
on: [push]

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    # 1. Ambil kode dari repository
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Siapkan Python
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # 3. Cek Environment - Agar terlihat detail di Log
    - name: Check Environment
      run: |
        python --version
        pip --version
        echo "Environment Ready!"

    # 4. Install Dependencies
    - name: Install MLflow & Dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow pandas numpy scikit-learn matplotlib seaborn

    # 5. Jalankan Training
    - name: Run MLflow Project (Training)
      run: |
        cd MLProject
        # Kita pakai env-manager=local agar menggunakan library yang sudah diinstall di atas
        mlflow run . --env-manager=local --experiment-name="Telco_Churn_CI_Train"

    # 6. Menyimpan Artefak ke GitHub
    # Ini memenuhi syarat "Simpan ke Repository GitHub yang sama"
    - name: Upload Model to GitHub Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: trained-model-artifacts
        path: MLProject/mlruns